[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim-configuration"]
	path = vim-configuration
	url = git@github.com:grzes/vim-configuration.git
