[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
	sh = auto
[core]
	editor = vim
	excludesfile = ~/.gitignore
[user]
	name = Grzes Furga
	email = grzesiof@gmail.com
[merge]
    tool = meld

[alias]
    l = !"git --no-pager log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"


